/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    /* Colors */
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);
    --neutral-very-dark-cyan: hsl(192, 100%, 9%);
    --neutral-very-pale-blue: hsl(207, 100%, 98%);
    --neutral-light-gray: hsl(220, 2%, 69%);
    /* Text - Poppins is for headings - SansSerif is for body*/
    --ff-poppins: 'Poppins', sans-serif;
    --fw-poppins: 700;
    --ff-sansserif: 'Open Sans', sans-serif;
    --fw-ss-regular: 400;
    --fw-ss-semibold: 600;
    --fw-ss-bold: 700;
}

/* General styling */
body {
    font-family: var(--ff-sansserif);
}

/* Styles */

/* ==========Navigation bar========== */
.nav-bar {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    max-width: 6rem;
    height: auto;
}

.try-it {
    text-decoration: none;
    color: var(--primary-light-pink);
    border: 1px solid var(--primary-pink);
    font-size: 0.65rem;
    padding: 0.313rem 1rem;
    border-radius: 3rem;
    box-shadow: 0px 0px 5px 0px var(--primary-light-pink);
}

/* ==========Header========== */
.header {
    padding: 5.5rem 1.5rem 3.5rem 1.5rem;
    text-align: center;
    display: grid;
    gap: 3rem;
    place-items: center;
}

.header-content {
    display: grid;
    gap: 1.5rem;
}

.header-title {
    font-family: var(--ff-poppins);
    color: var(--neutral-very-dark-cyan);
    font-size: 1.5rem;
}

.header-description {
    color: var(--neutral-very-dark-cyan);
    font-weight: var(--fw-ss-semibold);
    font-size: 0.85rem;
    padding: 0 1rem;
    line-height: 1.5;
}

.header-button {
    background-color: var(--primary-pink);
    color: white;
    text-decoration: none;
    font-weight: var(--fw-ss-semibold);
    font-size: 0.75rem;
    padding: 0.7rem 2.5rem;
    width: max-content;
    border-radius: 2rem;
    box-shadow: 0px 1px 5px -2px black;
}

.header-img {
    padding: 3.5rem 1rem;
}

/* ==========Main========== */
.main-containter {
  
}

/* ==========Statistic section========== */
.statistic {
  text-align: center;
  display: grid;
  place-items: center;
  gap: 5rem;
  padding: 1.5rem 1.5rem;
}

.community,
.message {
  display: grid;
  gap: 0.2rem;
}

.community-img,
.message-img {
  max-width: 1.75rem;
}

.community-number,
.message-number {
  color: var(--neutral-very-dark-cyan);
  font-size: 3.65rem;
}

.community-description,
.message-description {
  color: var(--neutral-light-gray);
  font-size: 0.9rem;
}


/* ==========Utility section========== */
.utility {
  display: grid;
  gap: 10rem;
}

/* ==========Grow together========== */
.grow {
  background-color: var(--neutral-very-pale-blue);
  padding: 4.5rem 2.5rem;
  display: grid;
  gap: 5rem;
  text-align: center;
}

.grow-img {
  padding: 0 1rem;
}

.grow-content {
  display: grid;
  gap: 1rem;
}

.grow-title {
  font-family: var(--ff-poppins);
  color: var(--neutral-very-dark-cyan);
  font-size: 1.25rem;
}

.grow-description {
  font-weight: var(--fw-ss-semibold);
  color: var(--neutral-very-dark-cyan);
  font-size: 0.825rem;
}

