/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    /* Colors */
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);
    --neutral-very-dark-cyan: hsl(192, 100%, 9%);
    --neutral-very-pale-blue: hsl(207, 100%, 98%);
    --neutral-light-gray: hsl(220, 2%, 69%);
    /* Text - Poppins is for headings - SansSerif is for body*/
    --ff-poppins: 'Poppins', sans-serif;
    --fw-poppins: 700;
    --ff-sansserif: 'Open Sans', sans-serif;
    --fw-ss-regular: 400;
    --fw-ss-semibold: 600;
    --fw-ss-bold: 700;
}

/* General styling */
body {
    font-family: var(--ff-sansserif);
}

/* Styles */

/* ==========Navigation bar========== */
.nav-bar {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    max-width: 6rem;
    height: auto;
}

.try-it {
    text-decoration: none;
    color: var(--primary-light-pink);
    border: 1px solid var(--primary-pink);
    font-size: 0.65rem;
    padding: 0.313rem 1rem;
    border-radius: 3rem;
    box-shadow: 0px 0px 5px 0px var(--primary-light-pink);
}

/* ==========Header========== */
.header {
    padding: 5.5rem 1.5rem 3.5rem 1.5rem;
    text-align: center;
    display: grid;
    gap: 3rem;
    place-items: center;
}

.header-content {
    display: grid;
    gap: 1.5rem;
}

.header-title {
    font-family: var(--ff-poppins);
    color: var(--neutral-very-dark-cyan);
    font-size: 1.5rem;
}

.header-description {
    color: var(--neutral-very-dark-cyan);
    font-weight: var(--fw-ss-semibold);
    font-size: 0.85rem;
    padding: 0 1rem;
    line-height: 1.5;
}

.header-button {
    background-color: var(--primary-pink);
    color: white;
    text-decoration: none;
    font-weight: var(--fw-ss-semibold);
    font-size: 0.75rem;
    padding: 0.7rem 2.5rem;
    width: max-content;
    border-radius: 2rem;
    box-shadow: 0px 1px 5px -2px black;
}

.header-img {
    padding: 3.5rem 1rem;
}

/* ==========Statistic section========== */
.statistic {
  text-align: center;
  display: grid;
  place-items: center;
  gap: 5rem;
  padding: 1.5rem;
}

.community,
.message {
  display: grid;
  gap: 0.2rem;
}

.community-img,
.message-img {
  max-width: 1.75rem;
}

.community-number,
.message-number {
  color: var(--neutral-very-dark-cyan);
  font-size: 3.65rem;
}

.community-description,
.message-description {
  color: var(--neutral-light-gray);
  font-size: 0.9rem;
}


/* ==========Utility section========== */
.utility {
  display: grid;
  gap: 3rem;
}

/* ==========Grow together========== */
.grow {
  background-color: var(--neutral-very-pale-blue);
  padding: 4rem 1.75rem;
  display: grid;
  gap: 5rem;
  text-align: center;
}

.grow-img {
  padding: 0 2rem;
}

.grow-content {
  display: grid;
  gap: 1rem;
}

.grow-title {
  font-family: var(--ff-poppins);
  color: var(--neutral-very-dark-cyan);
  font-size: 1.25rem;
}

.grow-description {
  font-weight: var(--fw-ss-semibold);
  color: var(--neutral-very-dark-cyan);
  font-size: 0.835rem;
}

/* ==========Flowing conversations========== */
.flowing {
  padding: 5rem 1.75rem 3rem 1.75rem;
  text-align: center;
  display: grid;
  gap: 7rem;
}

.flowing-img {
  padding: 0 2rem;
}

.flowing-content {
  display: grid;
  gap: 1rem;
}

.flowing-title {
  font-family: var(--ff-poppins);
  color: var(--neutral-very-dark-cyan);
  font-size: 1.25rem;
}

.flowing-description {
  font-weight: var(--fw-ss-semibold);
  color: var(--neutral-very-dark-cyan);
  font-size: 0.835rem;
}

/* ==========Your users========== */
.users {
  background-color: var(--neutral-very-pale-blue);
  padding: 2rem 1.75rem 5rem 1.75rem;
  text-align: center;
  display: grid;
  gap: 6rem;
}

.users-img {
  padding: 0 2rem;
}

.users-content {
  display: grid;
  gap: 1rem;
}

.users-title {
  font-family: var(--ff-poppins);
  color: var(--neutral-very-dark-cyan);
  font-size: 1.25rem;
}

.users-description {
  font-weight: var(--fw-ss-semibold);
  color: var(--neutral-very-dark-cyan);
  font-size: 0.835rem;
}

/* ==========Get started========== */
.ready-to-build {
  display: grid;
  gap: 2rem;
  place-items: center;
  text-align: center;
  padding: 4rem 1.75rem 17rem 1.75rem;
}

.ready-title {
  font-family: var(--ff-poppins);
  color: var(--neutral-very-dark-cyan);
  font-size: 1.5rem;
}

.ready-button {
  background-color: var(--primary-pink);
  color: white;
  text-decoration: none;
  font-weight: var(--fw-ss-semibold);
  font-size: 0.75rem;
  padding: 0.7rem 2.5rem;
  width: max-content;
  border-radius: 2rem;
  box-shadow: 0px 1px 5px -2px black;
}

/* ==========Footer========== */

/* ==========Newsletter========== */
.newsletter {
  padding: 3rem 2rem 6rem 2rem;
  background-color: var(--neutral-very-dark-cyan);
  color: white;
  display: grid;
  gap: 1rem;
}

.newsletter-title {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.newsletter-description {
  font-family: var(--ff-sansserif);
  font-size: 0.9rem;
  line-height: 1.8;
}

/* ==========Email form========== */
.footer-newsletter-form {
  padding: 0.75rem 0;
  display: grid;
  grid-template-areas: 
  "email email"
  "error button";
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  align-items: center;
}

#typeEmail {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  font-size: 0.75rem;
  grid-area: email;
}

#typeEmail::placeholder {
  color: var(--neutral-par-clr);
}

#typeEmail:invalid:focus:not(:placeholder-shown) + .error-message {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s ease, opacity 0.5s ease;
}

#typeEmail:invalid:focus:not(:placeholder-shown) {
  border: 1px solid red;
  outline-color: red;
}

#typeEmail:valid {
  border: 1px solid green;
  outline-color: green;
}

.error-message {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease, opacity 0.5s ease;
  color: red;
  text-align: left;
  font-size: 0.75rem;
  margin: 0.25rem 0;
  grid-area: error;
}

.send-email {
  background-color: var(--primary-pink);
  border: none;
  color: white;
  font-weight: var(--fw-ss-semibold);
  padding: 0.8rem 0;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  box-shadow: 0px 5px 15px -10px black;
  grid-area: button;
}

/* ==========More========== */
.more {
  background-color: var(--neutral-very-dark-cyan);
  color: white;
  padding: 0 2rem;
}

.more-logo {
  filter: brightness(0) invert(1);
  max-width: 12.5rem;
}

.more-description {
  padding: 1rem 0 2rem 0;
  font-size: 0.9rem;
  font-weight: var(--fw-ss-semibold);
  line-height: 1.8;
}

.more-list {
  list-style: none;
  padding: 0 1.75rem;
  display: grid;
  gap: 1rem;
}

.more-list li:nth-child(1) {
  list-style-image: url(images/icon-phone.svg);
}

.more-list li:nth-child(2) {
  list-style-image: url(images/icon-email.svg);
}

.social {
  display: flex;
  gap: 1rem;
  padding: 3rem 0;
}

.social a {
  text-decoration: none;
  color: white;
}

.social i {
  font-size: 1.5rem;
}

/* ==========Active states========== */
.try-it:hover {
  filter: brightness(1.5);
  transition: filter 0.5s ease;
}

.header-button:hover,
.ready-button:hover,
.send-email:hover {
  background-color: hsl(322, 100%, 78%);
  transition: background-color 0.5s ease;
}

.social a:hover {
  color: hsl(191, 79%, 46%);
  transition: color 0.5s ease;
}


/* ==========Desktop design========== */
@media screen and (min-width: 1440px) {

  /* ==========Navigation bar========== */
  .nav-bar {
    padding: 5em;
  }

  .main-logo {
    max-width: 15rem;
  }

  .try-it {
    font-size: 1rem;
    padding: 0.45rem 1.5rem;
    font-weight: var(--fw-ss-semibold);
  }

  /* ==========Header========== */
  .header {
    padding: 9.5rem 1.5rem 2.5rem 1.5rem;
  }
  
  .header-title {
    font-size: 3rem;
  }

  .header-description {
    font-size: 1.25rem;
    padding: 0 23rem;
  }

  .header-button {
    font-size: 1.3rem;
    padding: 1.5rem 6rem;
    border-radius: 2.5rem;
  }

  /* ==========Statistic section========== */
  .statistic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    padding-bottom: 4rem;
  }

  .community-img,
  .message-img {
  max-width: 3rem;
  }
  
  .community-number,
  .message-number {
  font-size: 6rem;
  }

  .community-description,
  .message-description {
  font-size: 1.5rem;
  }

  .message-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  /* ==========Grow together========== */
  .grow {
    padding: 4rem 8rem;
    grid-template-columns: 0.9fr 1fr;
    grid-template-areas: "content image";
    gap: 6rem;
    text-align: unset;
  }

  .grow-img {
    grid-area: image;
  }

  .grow-content {
    grid-area: content;
    margin: auto 0;
    gap: 1.5rem;
  }

  .grow-title {
    font-size: 2.5rem;
  }

  .grow-description {
    font-size: 1rem;
  }

  /* ==========Flowing conversations========== */
  .flowing {
    padding: 5rem 7rem 3rem 7rem;
    grid-template-columns: 1fr 1fr;
    text-align: unset;
    gap: 9rem;
  }
  
  .flowing-content {
    margin: auto 0;
    gap: 1.5rem;
  }
  
  .flowing-title {
    font-size: 2.5rem;
  }
  
  .flowing-description {
    font-size: 1rem;
  }

  /* ==========Your users========== */
  .users {
    padding: 2rem 8rem 5rem 8rem;
    text-align: unset;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
    gap: 5rem;
  }
  
  .users-img {
    grid-area: image;
  }
  
  .users-content {
    margin: auto 0;
    grid-area: content;
  }
  
  .users-title {
    font-size: 2.5rem;
  }
  
  .users-description {
    font-size: 1rem;
  }

  /* ==========Get started========== */
  .ready-to-build {
    padding-bottom: 12rem;
  }

  .ready-title {
    font-size: 2.5rem;
  }

  .ready-button {
    font-size: 1.25rem;
    padding: 1.5rem 6rem;
    border-radius: 3rem;
  }

  /* ==========Footer========== */
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "wave wave"
    "info newsletter";
    gap: 8rem;
    column-gap: 10rem;
    background-color: var(--neutral-very-dark-cyan);
  }

  .footer-wave {
    background-color: white;
    grid-area: wave;
  }

  .newsletter {
    grid-area: newsletter;
    padding: 0 8rem 0 0;
    gap: 1rem;
    height: max-content;
  }

  .newsletter-title {
    font-size: 1.5rem;
  }

  .newsletter-description {
    padding-right: 10rem;
  }

  /* ==========Email form========== */
  .footer-newsletter-form {
    padding: 0.75rem 0;
    grid-template-areas: 
    "email button"
    "error none";
    grid-template-columns: 2.25fr 1fr;
    column-gap: 2.5rem;
    row-gap: 0;
  }

  /* ==========More========== */
  .more {
    padding: 0 0 0 8rem;
  }

  .more-logo {
    max-width: 15rem;
  }

  .more-description {
    padding: 2rem 10rem 2rem 0;
    font-size: 0.9rem;
    font-weight: var(--fw-ss-semibold);
    line-height: 1.8;
  }

  .social {
    gap: 1.5rem;
  }

  .social i {
    font-size: 2.25rem;
    padding: 1rem 0 3.5rem 0;
  }
}
